html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    background-color: black;
    color: white;
}

.navbar {
    background-color: #0f0f0f;
}

.change-color {
    margin-top: 10px;
    color: white;
    background-color: black;
}

.nav-link {
    text-decoration: none;
}